* {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  margin: 0px;
}

/* main body */
.main_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  color: aliceblue;
  padding: 20px 25px;
  margin: 1vh 0vw;
}

.row {
  margin: 1vh 0px;
  width: 100%;
}

/* about me */
h2 {
  text-align: center;
  margin-bottom: 1.5vh;
}

.txt-rotate {
  color: #00fffb;
}

.aboutme {
  word-wrap: break-word;
  font-size: large;
  text-align: justify;
  margin: 1vh 0vw;
}

.quote {
  text-align: center;
}

/* interest */
.interest {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inte_name {
  width: 20%;
  font-size: larger;
  border: solid whitesmoke 2px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  padding: 4vh 2vw;
  border-radius: 10px;
}

.inte_name:hover {
  color: greenyellow;
  border: solid 2px greenyellow;
  box-shadow: 0 0 10px rgb(252, 255, 76);
}


/* Media Queries */
@media screen and (max-width: 840px) {

  /* main body  */
  .main_body {
    flex-direction: column;
    font-size: 2vh;
  }

  .interest {
    flex-direction: column;
  }

  .aboutme {
    font-size: large;
  }

  .inte_name {
    text-align: center;
    width: 100%;
    margin: 2vh 0vw;
  }

  .dev_type {
    font-size: x-large;
  }

}

@media screen and (max-width: 600px) {
  .aboutme {
    font-size: medium;
  }

  .dev_type {
    font-size: large;
  }
}
